In [16]:
import csv
%precision 2
with open('mpg.csv') as csvfile:
    mpg=list(csv.DictReader(csvfile))
mpg[:2]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [17]:
len(mpg)

234

In [18]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Average cty fuel economy across all cars

In [ ]:
sum(float(d['cty']) for d in mpg)/len(mpg)

Average city mpg grouped by the number of cylinders a car has
set: unordered collections of unique elements

In [20]:
cylinders=set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [21]:
type(cylinders)

set

In [59]:
sumCty = {cylinder : 0 for cylinder in cylinders}
countCty= {cylinder : 0 for cylinder in cylinders}
aveCty= {cylinder : 0 for cylinder in cylinders}
type(sumCty)

dict

In [60]:
for d in mpg:
    a=d['cyl']
    sumCty[a]+=float(d['cty'])
    countCty[a]+= 1

In [64]:
for key in sumCty:    
    aveCty[key]=sumCty[key]/countCty[key]

### Dates & Times

In [65]:
import datetime as dt
import time as tm
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 3, 5, 15, 17, 0, 955539)

In [66]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2018, 3, 5, 15, 17, 0)

In [67]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta
today = dt.date.today()
today - delta # the date 100 days ago
today > today-delta # compare dates

True

### Objects and map() function

In [68]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location
        
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [70]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, items))
squared

[1, 4, 9, 16, 25]

In [73]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest
cheapest2 = list(map(min, store1, store2))
cheapest2

[9.00, 11.00, 12.34, 2.01]

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

### Lambda and List Comprehensions

Lambdas are Python's way of creating anonymous functions.

In [74]:
my_function= lambda a, b, c : a+b

In [75]:
my_function(1,2,3)

3

Sequences: Tuples, lists, dictionaries (structures that we can iterate over)

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

### Numpy

In [ ]:
import numpy as np